<!-- File Name: footer.ejs
Name: Abdul Rahman Saud
ID: 301227450
Date: 8 Oct 2022 -->

</div>
<footer class="site-footer">
  <div class="container">
      <div class="footer-left">
        <h6>About</h6>
        <p class="text-justify">I have always been interested in the way software and applications are run. Over time, I got into gaming and got intrigued in how they were developed. Taking a game development course would not only teach me game specific coding but also overall application/website development. This way I would gain broader knowledge in the IT field and enjoy doing what I love to do. Since gaming is a fast-growing industry, I see much potential for myself in this field.</p>
      </div>

      <div class="footer-right">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/projects">PROJECTS</a></li>
          <li><a href="/services">SERVICES</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
    
  </div>
  <hr>
  <div class="container">
      <div class="content">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
     <a href="/">TheMangoMaster</a>.
        </p>
      </div>
  </div>
</footer>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/javascripts/appclient.js"></script>
</body>
</html>