<!-- File Name: header.ejs
Name: Abdul Rahman Saud
ID: 301227450
Date: 8 Oct 2022 -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="top">
        <header>
            <a href="/" class="logo">
            <img src="/images/logo.png" class="logo-image" alt="TheMangoMaster Logo">
            </a>     
            <div class="navbar">  
            <a href="/" class="navlinks">HOME</a>  
            <a href="/about" class="navlinks">ABOUT</a>
            <a href="/projects" class="navlinks">PROJECTS</a>
            <a href="/services" class="navlinks">SERVICES</a>
            <a href="/contact" class="navlinks">CONTACT</a>
            </div>
        </header>
        
